<phpunit
        bootstrap="phpunit-bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="WP Boise Custom">
            <directory prefix="test-" suffix=".php">/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>